*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html {
    height:100%;
    background-image: url("img/bg.jpg");
    color: white;
}

.container{
    width: 100%;
    text-align: center;
}

h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

h1::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: white;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{
        width: 50px;
    }
    50%{
        width: 275px;
    }
    100%{
        width: 50px;
    }
    
}


/* Nav bar */

/* Nav bar */
nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 30px 0;
}
  
nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
  
nav ul li {
    display: inline-block;
}
  
nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
}
  
nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

/* Pictures */
.photo-gallery{
    margin: 10px 50px;
}

.photo-gallery img{
    width: 350px;
    height: 350px;
    padding: 15px;
    transition: 1s;
}

.photo-gallery img:hover{
    transform: scale(1.29);
}

/* Footer */
footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p{
    float: right;
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 15px;
}